{{!< default}}

{{#post}}
  <article class="{{post_class}}">

    <header class="post-header">
      <h2 class="post-title">{{title}}</h2>
    </header>

    <section class="post-content">
      {{content}}
    </section>

  </article>
{{/post}}
